# Python files
dist
.ipynb_checkpoints
__pycache__/
*.egg-info/
.coverage
build

# Sphinx
docs/_build/
docs/api/generated/

# 
.DS_Store
.vscode

# various local dirs for testing
obs_output/
DART/
example_mom6
obs_output_synth/
